<div class="login-wrapper d-flex align-items-center justify-content-center">
  <div class="login-card shadow p-4 rounded-4">
    <div class="text-center mb-3">
      <i class="fa-solid fa-tooth fa-2x"></i>
      <h1 class="h4 mt-2 mb-0">Bienvenido a <strong>DentalPro</strong></h1>
      <small class="text-muted">Gestión odontológica sencilla y ordenada</small>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" placeholder="tucorreo@dominio.com" formControlName="email" />
        <div class="form-text text-danger" *ngIf="form.controls.email.touched && form.controls.email.invalid">
          Ingresa un correo válido.
        </div>
      </div>

      <div class="mb-2">
        <label class="form-label">Contraseña</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="******" formControlName="password" />
          <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
        <div class="form-text text-danger" *ngIf="form.controls.password.touched && form.controls.password.invalid">
          Mínimo 6 caracteres.
        </div>
      </div>

      <div class="mb-2">
        <button class="btn btn-primary w-100" [disabled]="loading">
          <span *ngIf="!loading">Iniciar sesión</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        </button>
      </div>

      <div class="alert alert-danger py-2" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
    </form>
  </div>
</div>
